<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Satisfy|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  </head>
  <body class="indexPage">
    <div class="landing">
      <div class="landingStalker">Stalkergram</div>
      <div class="littleStalker">See who's stalking you on Instagram.</div>
      <a href="/auth/instagram" class="btn btn-large"><i class="icon-arrow-right"></i> Signin with Instagram</a>
    </div>
  </body>
</html>