<!doctype html>
<html lang="en" ng-app="ngView">
  <head>
    <title>Stalkergram</title>
  	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  	<link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="/javascripts/angular-ui.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/jquery.foggy.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </head>
  <body class="stalkerPage">
    <div class="bnav">
  	<div class="logo">YOUR INSTAGRAM STALKERS</div>
    </div>
  	<div ng-controller="StalkerCtrl">
    	<div ng-view></div>
    	<div class="row extraPadding">
        <div class="span8 offset4 stalkerContainer">
          <table class="table">
            <tbody>
              <tr ng-repeat="stalker in stalkers | orderBy:'likes':true | limitTo:10" class="faded">
        	      <td><div class="counter">{{$index + 1}}</div></td>
                <td><img ng-src="{{stalker.profile_picture}}" height="65" width="65" class="img-rounded stalkerImage"></td>
                <td class="name">
                  <span class="upperCase">{{stalker.username}}</span>
                  <br>
                  {{stalker.full_name}}
                </td>
                <td>
                  <div class="holder">
                    <div class="likes">{{stalker.likes}}
                      <br><img src="/img/heart.png">
                    </div>
                    <div class="comments">{{stalker.comments}}
                      <br><img src="/img/comment.png">
                    </div>
                  </div>
                </td>
                <td>
                  <a target="_blank" href="http://instagram.com/{{stalker.username}}"><img class="circle" src="/img/circle.png"></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div id="tweetTo">
            <a href="https://twitter.com/intent/tweet?text=Want+to+find+your+Instagram+stalkers?+Check+out+http://stalkergram.com" id="lola" target="_blank"><img class="tweetImg" src="/img/bird.png">TWEET TO SHOW YOUR TOP 3 STALKERS</a> 
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40393186-1', 'herokuapp.com');
  ga('send', 'pageview');


$(document).ready(function(){   
  $("#lola").on("click", function(){
      window.open($("#lola").attr("href"));
      $("tr").foggy(false);
      $("#tweetTo").hide();
      return false;
  });
});


</script>
</html>


