<!doctype html>
<html lang="en" ng-app="ngView">
  <head>
  	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  	<link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="/javascripts/angular-ui.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body>
  	<h1 class="logo">Your Instagram Stalkers</h1>
  	<div ng-controller="StalkerCtrl">
	<div ng-view></div>
	<table class="table">
              <tbody>
                <tr ng-repeat="stalker in stalkers">
        		      <td><img src="stalker.profile_picture"></td>
                  <td ng-bind-html-unsafe="stalker.username"></td>
                  <td ng-bind-html-unsafe="stalker.likes"></td>
                  <td ng-bind-html-unsafe="stalker.comments"></td>
                </tr>
              </tbody>
            </table>
    </div>
  </body>
</html>


