<!doctype html>
<html lang="en" ng-app="ngView">
  <head>
  	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  	<link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="/javascripts/angular-ui.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body class="stalkerPage">
    <div class="bnav">
  	 <div class="logo">YOUR INSTAGRAM STALKERS</div>
    </div>
  	<div ng-controller="StalkerCtrl">
    	<div ng-view></div>
    	<div class="row extraPadding">
        <div class="span8 offset3 stalkerContainer">
          <table class="table">
            <tbody>
              <tr ng-repeat="stalker in stalkers | filter: likes">
        	      <td><img ng-src="{{stalker.profile_picture}}" heigth="50" width="50" class="img-rounded"></td>
                <td ng-bind-html-unsafe="stalker.username"></td>
                <td ng-bind-html-unsafe="stalker.likes"></td>
                <td ng-bind-html-unsafe="stalker.comments"><i class="icon-comment"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>


