body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

.indexPage {
	background-color: #02a9d6;
	color: #ffffff;
	text-align: center;
}

.logo {
	font-size: 30px;
	text-align: center;
	color: #ffffff;
	padding:28px;
}

.landing {
	padding-top: 200px;
}

.landingStalker {
	font-size: 100px;
	padding-bottom: 30px;
	font-family: 'Satisfy', cursive;
}

.littleStalker {
	padding-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
  font-family: 'Open Sans', sans-serif;
}

.stalkers {
	text-align: center;
}

.list {
	list-style: none;
}

.bnav {
	top:0;
	height: 90px;
	background-color: #02a9d6;
}

.stalkerPage {
	background-color: #e8e8e8;
}

.stalkerContainer {
	background-color: #ffffff;
	padding:10px 10px 0 10px;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         3px 3px 5px 6px #ccc;
	width: 600px;
	margin:0 auto;
}

.extraPadding {
	padding: 30px 30px 0 30px;
}

.icon-gray {
  opacity: 0.3;
}

.holder {
	background-color: #f6f6f6;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	width:90px;
	height:40px;
	margin: 0 auto;
	padding:10px;
}

.likes {
	float:left;
	text-align:center;
	width:50%;
	display:inline-block;
}

.comments {
	width:50%;
	text-align: center;
	border-left: 2px solid #e8e8e8;
	margin-left: 45px;
	padding-left: 5px;
}

.upperCase {
	text-transform: uppercase;
}

.stalkerImage {
	border: 1px solid #e8e8e8;
}

.name {
	padding-top:20px !important;
}

.circle {
	padding-top: 10px;
}

.table tr:first-child td{ 
     border-top: none; 
 }

.modal.fade.in {
	top: 30%;
}

#tweetTo {
	font-size: 20px;
	background-color: #00aced;
	color: #ffffff;
	text-align: center;
	z-index: 1000;
	top: 210px;
	position: absolute;
	display:none;
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	left:50%;
	margin-left:-250px;
}

.tweetImg {
	padding-right: 20px;
}

#tweetTo a {
	font-family: sans-serif;
	font-weight: lighter;
	color:#fff;
	text-decoration: none;
	padding:20px 30px 20px 30px;
}

.counter {
	padding-top: 25px;
}

.footer {
	text-align: center;
	color: #979797;
	margin-bottom: 50px;
}

.socialheader a {
    float: none !important;
}